@font-face {
    font-family: 'Nunito-Regular'; 
    src: url('../fonts/nunito/static/Nunito-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'ArchivoBlack-Regular'; 
    src: url('../fonts/archivo_black/ArchivoBlack-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: #fcfaf9;
    
}

.header {
    padding: 16px 0px;
    height: 72px;
    backdrop-filter: blur(4px);
    background: rgba(252, 250, 249, 0.9);
    margin-bottom: 80px;
}
.header__container {
    min-width: 320px;
    max-width: 1208px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}

.header__logo:hover .logo-img,
.header__logo:active .logo-img {
    content: url(../assets/icons/logo-pink.svg);
}

.header__menu-list {
    margin: 0;
    padding: 0;
    display: flex;    
}
.header__menu-item {
    list-style-type: none;
    border: 1.20px solid #e8e8e8;
    border-radius: 20px;
    padding: 8px 18px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.header__menu-item a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1b1f21;
}

.header__menu-item--diseno:hover,
.header__menu-item--diseno:active {
  background-color: #EC95B1; 
}

.header__menu-item--programming:hover,
.header__menu-item--programming:active {
  background-color: #A4CCFE; 
}

.header__menu-item--gaming:hover,
.header__menu-item--gaming:active {
  background-color: #BEDB39; 
}

.header__menu-item--marketing:hover,
.header__menu-item--marketing:active {
  background-color: #FFAD20; 
}

.header__menu-item--software:hover,
.header__menu-item--software:active {
  background-color: #ACD6DE; 
}

.header__menu-item--carrera:hover,
.header__menu-item--carrera:active {
  background-color: #AEDFD6; 
}


.header__right-menu {
    display: flex;
}
.header__icon-search {
    background: none;         
    border: none;             
    padding: 0;              
    cursor: pointer;          
    display: inline-flex;     
    align-items: center;     
    justify-content: center;
    margin-right: 26px;
}
.header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__link:hover, 
.header__link:active {
    border-bottom: 1.5px solid #BEDB39; 
  }

.header__link-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #1b1f21;
    margin-right: 8px;
}

/* .main::before {
    content: url('../assets/img/line-bg.png');
    overflow-x: hidden;
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 9.6%;
    no-repeat 
} */


.first-block__container{
    min-width: 320px;
    max-width: 1208px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 224px;
}

.first-block__left-side {
   margin-right: 40px;
   position: relative;
}

.left-side__masked-image {
    width: 480px; 
    height: 560px; 
    background-image: url('../assets/img/img-first-block.png'); 
    background-size: cover; 
    background-position: center -155px ;
    mask-image: url('../assets/img/mask-first-block.png'); 
    mask-size: cover; 
    mask-repeat: no-repeat; 
    mask-position: center; 
}

.left-side__gaming-sticker {
    position: absolute; 
    top: 0; 
    right: 0; 
    transition: transform 0.5s ease;
}

.left-side__gaming-sticker:hover {
    transform: rotate(180deg);
}


.first-block__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.content__menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    padding-top: 30px;
    align-items: center;
}
.content__menu-item {
    margin-right: 10px;

}
.content__menu-item:last-child {
    margin-right: 0px;
}


.content__menu-item a{
    color: #94AC23;
    text-decoration: none;
    font-size: 15px;
    line-height: 21px;
}

.content__menu-item--active {
    margin-right: 16px;
    padding: 8px 18px;
    border-radius: 20px;
    background-color: #BEDB39;
}

.content__menu-item--active a{
    color: #1b1f21;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
}

.content__title {
    font-family: 'ArchivoBlack-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    color: #1b1f21;
    margin: 0;
}
.content__description {
    color: #757778;
    font-size: 18px;
    line-height: 28.8px;
    margin-bottom: 48px;
}
.content__date-time {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.date-time__date {
    display: flex;
    align-items: center;
    margin-right: 3px;
}
.date__img {
    margin-right: 5px;
}
.date__text {
    width: 127px;
    color: #AEAEAE;
    font-size: 15px;
    line-height: 21px;
    margin: 0;
    margin-right: 24px;
}
.date-time__time {
    display: flex;
    align-items: center;
}
.time__img {
    margin-right: 5px;
}
.time__text {
    width: 47px;
    color: #AEAEAE;
    font-size: 15px;
    line-height: 21px;
    margin: 0;
}
.content__btn {
    cursor: pointer;
    border-radius: 40px;
    padding: 15px 0px;
    width: 232px;
    height: 59px;
    background: #bedb39;;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    position: relative;
    border: none;
    overflow: hidden; 
    transition: background-color 0.3s;
}

.content__btn::before {
    content: "";
    position: absolute;
    top: 5px; 
    right: 5px; 
    bottom: 5px; 
    left: 5px; 
    border: 2px solid #131212; 
    border-radius: 40px; 
    pointer-events: none;
  }

.content__btn:hover,
.content__btn:active {
    background-color: #1b1f21;
    font-weight: 700;
    color: #fcfaf9;
}

.content__btn:hover::before,
.content__btn:active::before {
    opacity: 0;
}

.content__btn:disabled {
    opacity: 0.6;
}

.content__btn:focus {
    border: 2px solid #1b1f21;
}

.content__btn:focus::before,
.content__btn:focus::before {
    opacity: 0;
}